
<div class="">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="compteReservation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reservations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="compteAnnonce">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Annonces
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="compteUtilisateur">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Profil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="compteVehicule">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Vehicules
            </NavLink>
        </div>
    </nav>
</div>