@page "/CompteUtilisateur"
@using CovoitEco.APP.Views.Utilisateur

<PageTitle>Profil</PageTitle>

<h1>Profil</h1>

<div class="row">
    <div class="col-md-10">
        <CompteMenu/>
    </div>
    <div class="col-md-2">
        @*Place for other item*@
    </div>
</div>
<div class="row">
    <div class="col">
        <GetUtilisateurProfile />
    </div>
</div>