@page "/CompteAnnonce"
@using CovoitEco.APP.Views.Annonce

<PageTitle>Annonces</PageTitle>

<h1>Annonces</h1>

<div class="row">
    <div class="col-md-10">
        <CompteMenu/>
    </div>
    <div class="col-md-2">
        <a href="/Publier">Publier une annonce</a> 
    </div>
</div>
<div class="row">
    <div class="col">
        <GetAllAnnonceProfileView />
    </div>
</div>

