@page "/GestionAnnonce"
@using CovoitEco.APP.Views.Reservation

<PageTitle>GestionAnnonce</PageTitle>

<h1>GestionAnnonce</h1>

<div class="row">
    <div class="col-md-10">
        @*vide*@
    </div>
    <div class="col-md-2">
       @*vide*@
    </div>
</div>
<div class="row">
    <div class="col">
        <GetAllReservationProfileView/>
    </div>
</div>