@page "/Publier"
@using CovoitEco.APP.Views.Annonce
@*@inherits CovoitEco.APP.Components.Annonce.AnnonceComponent*@

<PageTitle>Publier</PageTitle>

<h3>Publier vôtre annonce</h3>


<CreateAnnonceProfileView />